{
    "swagger": "2.0",
    "info": {
        "title": "Embever IoT Core API",
        "version": "",
        "description": "This API lets you interact with your devices on Embever IoT Core."
    },
    "host": "api.embever.com",
    "basePath": "/v2",
    "schemes": [
        "https"
    ],
    "paths": {
        "/authenticate/": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "access": "eyJ0eXAiOiJKv2QiLCJhbGciOiJIUdUxMi...",
                                "refresh": "eyJ0eXAiOiJKv2QiLCJhbGciOiJIUzUxMi..."
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "access": {
                                    "type": "string",
                                    "description": "The access token. Use in request header."
                                },
                                "refresh": {
                                    "type": "string",
                                    "description": "The refresh token"
                                }
                            }
                        }
                    }
                },
                "summary": "Obtain access token",
                "operationId": "Obtain access token",
                "description": "",
                "tags": [
                    "Authenticating"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "application_token": {
                                    "type": "string",
                                    "description": "The application token"
                                }
                            },
                            "required": [
                                "application_token"
                            ],
                            "example": {
                                "application_token": "eyJ0eXAiOiJKv2QiLCJhbGciOiJIUzUxMi..."
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "devices": "https://api.embever.com/v2/devices/",
                                "actions": "https://api.embever.com/v2/actions/",
                                "events": "https://api.embever.com/v2/events/",
                                "applications": "https://api.embever.com/v2/applications/",
                                "firmwares": "https://api.embever.com/v2/firmwares/",
                                "deployments": "https://api.embever.com/v2/deployments/",
                                "updates": "https://api.embever.com/v2/updates/",
                                "organisations": "https://api.embever.com/v2/organisations/",
                                "tokens": "https://api.embever.com/v2/tokens/",
                                "authenticate": "https://api.embever.com/v2/authenticate/"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "devices": {
                                    "type": "string"
                                },
                                "actions": {
                                    "type": "string"
                                },
                                "events": {
                                    "type": "string"
                                },
                                "applications": {
                                    "type": "string"
                                },
                                "firmwares": {
                                    "type": "string"
                                },
                                "deployments": {
                                    "type": "string"
                                },
                                "updates": {
                                    "type": "string"
                                },
                                "organisations": {
                                    "type": "string"
                                },
                                "tokens": {
                                    "type": "string"
                                },
                                "authenticate": {
                                    "type": "string"
                                }
                            },
                            "example": {
                                "devices": "https://api.embever.com/v2/devices/",
                                "actions": "https://api.embever.com/v2/actions/",
                                "events": "https://api.embever.com/v2/events/",
                                "applications": "https://api.embever.com/v2/applications/",
                                "firmwares": "https://api.embever.com/v2/firmwares/",
                                "deployments": "https://api.embever.com/v2/deployments/",
                                "updates": "https://api.embever.com/v2/updates/",
                                "organisations": "https://api.embever.com/v2/organisations/",
                                "tokens": "https://api.embever.com/v2/tokens/",
                                "authenticate": "https://api.embever.com/v2/authenticate/"
                            }
                        }
                    }
                },
                "summary": "Retrieve the Entry Point",
                "operationId": "Retrieve the Entry Point",
                "description": "",
                "tags": [
                    "API Root"
                ],
                "parameters": [],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/devices/": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": [
                                {
                                    "url": "https://api.embever.com/v2/devices/a1b2c3",
                                    "id": "a1b2c3",
                                    "name": "yourdevicename",
                                    "activated": false,
                                    "application": "6dbeb7f9-2d34-4411-9e34-9c7ae361cb92",
                                    "type": "other",
                                    "connectivity": {},
                                    "webhooks": [
                                        {
                                            "type": "position",
                                            "url": "https://mybackend.com/position/"
                                        },
                                        {
                                            "type": "temp",
                                            "url": "https://mybackend.com/temp/"
                                        }
                                    ],
                                    "created_at": "2018-02-26T16:02:13.978899Z"
                                }
                            ]
                        },
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    }
                },
                "summary": "List all devices",
                "operationId": "List all devices",
                "description": "Returns a list of the devices in your organisation",
                "tags": [
                    "Devices"
                ],
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "The device type (currently either `cellular` or `other` )",
                        "required": false,
                        "x-example": "cellular",
                        "type": "string"
                    },
                    {
                        "name": "activated",
                        "in": "query",
                        "description": "Filter for activated or supsended devices (only for cellular)",
                        "required": false,
                        "x-example": "true",
                        "type": "boolean"
                    },
                    {
                        "name": "application",
                        "in": "query",
                        "description": "ID of the Application to which the device is registered",
                        "required": false,
                        "x-example": "98hasdib",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filter by the name attribute of the device",
                        "required": false,
                        "x-example": "somedevicename",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "url": "https://api.embever.com/v2/devices/a1b2c3",
                                "id": "a1b2c3",
                                "name": "yourdevicename",
                                "activated": false,
                                "application": "98hasdib",
                                "type": "other",
                                "connectivity": {},
                                "webhooks": [
                                    {
                                        "type": "position",
                                        "url": "https://mybackend.com/position/"
                                    },
                                    {
                                        "type": "temp",
                                        "url": "https://mybackend.com/temp/"
                                    }
                                ],
                                "created_at": "2018-02-26T16:02:13.978899Z",
                                "password": "somerandompassword"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "url": {
                                    "type": "string",
                                    "description": "URI of the ressource. Read only"
                                },
                                "id": {
                                    "type": "string",
                                    "description": "The unique identifier of the object. Read only"
                                },
                                "name": {
                                    "type": "string",
                                    "description": "A human readable name."
                                },
                                "activated": {
                                    "type": "boolean",
                                    "description": "Indicates whether the SIM card is activated. Only for cellular devices. Read only"
                                },
                                "application": {
                                    "type": "string",
                                    "description": "ID of the Application to which the device should registered"
                                },
                                "type": {
                                    "type": "string",
                                    "description": "Type of the device. Either \"cellular\", or \"other\". Read only."
                                },
                                "connectivity": {
                                    "type": "object",
                                    "properties": {},
                                    "description": "An object containing further information regarding the connectivity. Read only"
                                },
                                "webhooks": {
                                    "type": "array",
                                    "description": "An array of webhooks to which we post updates if an Event is created for that device",
                                    "items": {}
                                },
                                "created_at": {
                                    "type": "string",
                                    "description": "Datetime at which the Device has been created. Read only"
                                },
                                "password": {
                                    "type": "string",
                                    "description": "Authentication password"
                                }
                            },
                            "required": [
                                "password"
                            ]
                        }
                    }
                },
                "summary": "Create Device",
                "operationId": "Create Device",
                "description": "Create a new Device instance",
                "tags": [
                    "Devices"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "application": {
                                    "type": "string",
                                    "description": "ID of the Application to which the device should registered"
                                },
                                "name": {
                                    "type": "string",
                                    "description": "Name of the device"
                                },
                                "activated": {
                                    "type": "boolean",
                                    "description": "Activated or supsended devices (only for cellular)"
                                }
                            },
                            "required": [
                                "name"
                            ],
                            "example": {
                                "application": "6dbeb7f9-2d34-4411-9e34-9c7ae361cb92",
                                "name": "somedevicename",
                                "activated": true
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/devices/{id}/": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "url": "https://api.embever.com/v2/devices/a1b2c3",
                                "id": "a1b2c3",
                                "name": "yourdevicename",
                                "activated": false,
                                "application": "6dbeb7f9-2d34-4411-9e34-9c7ae361cb92",
                                "type": "other",
                                "connectivity": {},
                                "webhooks": [
                                    {
                                        "type": "position",
                                        "url": "https://mybackend.com/position/"
                                    },
                                    {
                                        "type": "temp",
                                        "url": "https://mybackend.com/temp/"
                                    }
                                ],
                                "created_at": "2018-02-26T16:02:13.978899Z"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "url": {
                                    "type": "string",
                                    "description": "URI of the ressource. Read only"
                                },
                                "id": {
                                    "type": "string",
                                    "description": "The unique identifier of the object. Read only"
                                },
                                "name": {
                                    "type": "string",
                                    "description": "A human readable name."
                                },
                                "activated": {
                                    "type": "boolean",
                                    "description": "Indicates whether the SIM card is activated. Only for cellular devices. Read only"
                                },
                                "application": {
                                    "type": "string",
                                    "description": "ID of an Application instance"
                                },
                                "type": {
                                    "type": "string",
                                    "description": "Type of the device. Either \"cellular\", or \"other\". Read only."
                                },
                                "connectivity": {
                                    "type": "object",
                                    "properties": {},
                                    "description": "An object containing further information regarding the connectivity. Read only"
                                },
                                "webhooks": {
                                    "type": "array",
                                    "description": "An array of webhooks to which we post updates if an Event is created for that device",
                                    "items": {}
                                },
                                "created_at": {
                                    "type": "string",
                                    "description": "Datetime at which the Device has been created. Read only"
                                }
                            }
                        }
                    }
                },
                "summary": "Device Detail",
                "operationId": "Device Detail",
                "description": "",
                "tags": [
                    "Devices"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the device",
                        "required": true,
                        "x-example": "a1b2c3",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "patch": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "url": "https://api.embever.com/v2/devices/a1b2c3",
                                "id": "a1b2c3",
                                "name": "newname",
                                "activated": false,
                                "application": "98hasdib",
                                "type": "other",
                                "connectivity": {},
                                "webhooks": [
                                    {
                                        "type": "position",
                                        "url": "https://mybackend.com/position/"
                                    },
                                    {
                                        "type": "temp",
                                        "url": "https://mybackend.com/temp/"
                                    }
                                ],
                                "created_at": "2018-02-26T16:02:13.978899Z"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "url": {
                                    "type": "string",
                                    "description": "URI of the ressource. Read only"
                                },
                                "id": {
                                    "type": "string",
                                    "description": "The unique identifier of the object. Read only"
                                },
                                "name": {
                                    "type": "string",
                                    "description": "Name of the device"
                                },
                                "activated": {
                                    "type": "boolean",
                                    "description": "Indicates whether the SIM card is activated. Only for cellular devices. Read only"
                                },
                                "application": {
                                    "type": "string",
                                    "description": "ID of the Application to which the device should registered"
                                },
                                "type": {
                                    "type": "string",
                                    "description": "Type of the device. Either \"cellular\", or \"other\". Read only."
                                },
                                "connectivity": {
                                    "type": "object",
                                    "properties": {},
                                    "description": "An object containing further information regarding the connectivity. Read only"
                                },
                                "webhooks": {
                                    "type": "array",
                                    "description": "An array of webhooks to which we post updates if an Event is created for that device",
                                    "items": {}
                                },
                                "created_at": {
                                    "type": "string",
                                    "description": "Datetime at which the Device has been created. Read only"
                                }
                            }
                        }
                    }
                },
                "summary": "Update Device",
                "operationId": "Update Device",
                "description": "",
                "tags": [
                    "Devices"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the device",
                        "required": true,
                        "x-example": "a1b2c3",
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "application": {
                                    "type": "string",
                                    "description": "ID of the Application to which the device should registered"
                                },
                                "name": {
                                    "type": "string",
                                    "description": "Name of the device"
                                },
                                "activated": {
                                    "type": "boolean",
                                    "description": "Activated or supsended devices (only for cellular)"
                                }
                            },
                            "example": {
                                "application": "98hasdib",
                                "name": "newname",
                                "activated": true
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "Delete Device",
                "operationId": "Delete Device",
                "description": "",
                "tags": [
                    "Devices"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the device",
                        "required": true,
                        "x-example": "a1b2c3",
                        "type": "string"
                    }
                ]
            }
        },
        "/applications/": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": [
                                {
                                    "url": "https://api.embever.com/v2/devices/dbeb7f9-2d34-4411-9e34-9c7ae361cb92/",
                                    "id": "6dbeb7f9-2d34-4411-9e34-9c7ae361cb92",
                                    "alias": "testapp",
                                    "description": "Some description",
                                    "created_at": "2018-02-26T16:02:13.978899Z"
                                }
                            ]
                        },
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    }
                },
                "summary": "List all Applications",
                "operationId": "List all Applications",
                "description": "",
                "tags": [
                    "Applications"
                ],
                "parameters": [],
                "produces": [
                    "application/json"
                ]
            },
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "url": "https://api.embever.com/v2/devices/dbeb7f9-2d34-4411-9e34-9c7ae361cb92/",
                                "id": "6dbeb7f9-2d34-4411-9e34-9c7ae361cb92",
                                "alias": "testapp",
                                "description": "Some description",
                                "created_at": "2018-02-26T16:02:13.978899Z"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "url": {
                                    "type": "string",
                                    "description": "URI of the ressource. Read only."
                                },
                                "id": {
                                    "type": "string",
                                    "description": "The unique identifier of the object. Read only"
                                },
                                "alias": {
                                    "type": "string",
                                    "description": "Human readable alias of application"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "Description of the application"
                                },
                                "created_at": {
                                    "type": "string",
                                    "description": "Datetime at which the Application has been created. Read only"
                                }
                            }
                        }
                    }
                },
                "summary": "Create Application",
                "operationId": "Create Application",
                "description": "",
                "tags": [
                    "Applications"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "alias": {
                                    "type": "string",
                                    "description": "Alias for your application"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "A description of your application"
                                },
                                "secret": {
                                    "type": "string",
                                    "description": "Secret key for symmetric key authentication"
                                }
                            },
                            "required": [
                                "alias",
                                "secret"
                            ],
                            "example": {
                                "alias": "App1",
                                "description": "some description",
                                "secret": "top-secret"
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/applications/{id}/": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "url": "https://api.embever.com/v2/devices/dbeb7f9-2d34-4411-9e34-9c7ae361cb92/",
                                "id": "6dbeb7f9-2d34-4411-9e34-9c7ae361cb92",
                                "alias": "testapp",
                                "description": "Some description",
                                "created_at": "2018-02-26T16:02:13.978899Z"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "url": {
                                    "type": "string",
                                    "description": "URI of the ressource. Read only."
                                },
                                "id": {
                                    "type": "string",
                                    "description": "The unique identifier of the object. Read only"
                                },
                                "alias": {
                                    "type": "string",
                                    "description": "Human readable alias of application"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "Description of the application"
                                },
                                "created_at": {
                                    "type": "string",
                                    "description": "Datetime at which the Application has been created. Read only"
                                }
                            }
                        }
                    }
                },
                "summary": "Application Detail",
                "operationId": "Application Detail",
                "description": "",
                "tags": [
                    "Applications"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique identifier of the object. Read only",
                        "required": true,
                        "x-example": "6dbeb7f9-2d34-4411-9e34-9c7ae361cb92",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "patch": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "url": "https://api.embever.com/v2/devices/dbeb7f9-2d34-4411-9e34-9c7ae361cb92/",
                                "id": "6dbeb7f9-2d34-4411-9e34-9c7ae361cb92",
                                "alias": "testapp",
                                "description": "Some description",
                                "created_at": "2018-02-26T16:02:13.978899Z"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "url": {
                                    "type": "string",
                                    "description": "URI of the ressource. Read only."
                                },
                                "id": {
                                    "type": "string",
                                    "description": "The unique identifier of the object. Read only"
                                },
                                "alias": {
                                    "type": "string",
                                    "description": "Human readable alias of application"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "Description of the application"
                                },
                                "created_at": {
                                    "type": "string",
                                    "description": "Datetime at which the Application has been created. Read only"
                                }
                            }
                        }
                    }
                },
                "summary": "Update Application",
                "operationId": "Update Application",
                "description": "",
                "tags": [
                    "Applications"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique identifier of the object. Read only",
                        "required": true,
                        "x-example": "6dbeb7f9-2d34-4411-9e34-9c7ae361cb92",
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "alias": {
                                    "type": "string",
                                    "description": "Alias for your application"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "A description of your application"
                                },
                                "secret": {
                                    "type": "string",
                                    "description": "Secret key for symmetric key authentication"
                                }
                            },
                            "required": [
                                "alias",
                                "secret"
                            ],
                            "example": {
                                "alias": "App1",
                                "description": "some description",
                                "secret": "top-secret"
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "Delete Application",
                "operationId": "Delete Application",
                "description": "",
                "tags": [
                    "Applications"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique identifier of the object. Read only",
                        "required": true,
                        "x-example": "6dbeb7f9-2d34-4411-9e34-9c7ae361cb92",
                        "type": "string"
                    }
                ]
            }
        },
        "/actions/": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": [
                                {
                                    "url": "https://api.embever.com/v2/actions/62542",
                                    "id": 62542,
                                    "device": {
                                        "id": "a1b2c3",
                                        "name": "yourdevicename"
                                    },
                                    "type": "setSettings",
                                    "payload": {
                                        "someData": 54
                                    },
                                    "webhooks": [
                                        {
                                            "status": "action_sent",
                                            "url": "https://mybackend.com/action_sent/"
                                        },
                                        {
                                            "status": "action_overridden",
                                            "url": "https://mybackend.com/action_overridden/"
                                        },
                                        {
                                            "status": "response_received",
                                            "url": "https://mybackend.com/response/"
                                        },
                                        {
                                            "status": "action_delivered",
                                            "url": "https://mybackend.com/action_delivered/"
                                        }
                                    ],
                                    "status": {
                                        "action_sent": "2018-02-27T16:02:13.978899Z",
                                        "action_overridden": "2018-02-27T16:02:15.978899Z",
                                        "response_received": "2018-02-27T16:02:15.978899Z"
                                    },
                                    "service_level": 0,
                                    "cancelled": false,
                                    "finished": true,
                                    "result": {},
                                    "created_at": "2018-02-26T16:02:13.978899Z",
                                    "result_code": "Success",
                                    "expiry_date": "2019-03-27T16:02:13Z",
                                    "expired": "false"
                                }
                            ]
                        },
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    }
                },
                "summary": "List all actions",
                "operationId": "List all actions",
                "description": "Return a list of Action instances",
                "tags": [
                    "Actions"
                ],
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "The type of the action",
                        "required": false,
                        "x-example": "getSettings",
                        "type": "string"
                    },
                    {
                        "name": "device",
                        "in": "query",
                        "description": "The ID of the device for which the action was created",
                        "required": false,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "url": "https://api.embever.com/v2/actions/62542",
                                "id": 62542,
                                "device": {
                                    "id": "a1b2c3",
                                    "name": "yourdevicename"
                                },
                                "type": "setSettings",
                                "payload": {
                                    "someData": 54
                                },
                                "webhooks": [
                                    {
                                        "status": "action_sent",
                                        "url": "https://mybackend.com/action_sent/"
                                    },
                                    {
                                        "status": "action_overridden",
                                        "url": "https://mybackend.com/action_overridden/"
                                    },
                                    {
                                        "status": "response_received",
                                        "url": "https://mybackend.com/response/"
                                    },
                                    {
                                        "status": "action_delivered",
                                        "url": "https://mybackend.com/action_delivered/"
                                    }
                                ],
                                "status": {
                                    "action_sent": "2018-02-27T16:02:13.978899Z",
                                    "action_overridden": "2018-02-27T16:02:15.978899Z",
                                    "response_received": "2018-02-27T16:02:15.978899Z"
                                },
                                "service_level": 0,
                                "cancelled": false,
                                "finished": true,
                                "result": {},
                                "created_at": "2018-02-26T16:02:13.978899Z",
                                "result_code": "Success",
                                "expiry_date": "2019-03-27T16:02:13Z",
                                "expired": "false"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "url": {
                                    "type": "string",
                                    "description": "URI of the ressource. Read only"
                                },
                                "id": {
                                    "type": "number",
                                    "description": "The unique identifier of the object. Read only"
                                },
                                "device": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "The unique identifier of the object. Read only"
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "A human readable name."
                                        }
                                    },
                                    "description": "Relation to device based on `id` or `name` attribute of the device."
                                },
                                "type": {
                                    "type": "string",
                                    "description": "The type of the action that the device shall perform"
                                },
                                "payload": {
                                    "type": "object",
                                    "properties": {
                                        "someData": {
                                            "type": "number",
                                            "description": "Some data that your device processes"
                                        }
                                    },
                                    "description": "A payload that should be sent to the device along with the Action"
                                },
                                "webhooks": {
                                    "type": "array",
                                    "description": "An array of webhooks to which we post updates if the status of the Action instance changes",
                                    "items": {}
                                },
                                "status": {
                                    "type": "object",
                                    "properties": {
                                        "action_sent": {
                                            "type": "string"
                                        },
                                        "action_overridden": {
                                            "type": "string"
                                        },
                                        "response_received": {
                                            "type": "string"
                                        }
                                    },
                                    "description": "An object containing information about the current and historic status of the action. Read only"
                                },
                                "service_level": {
                                    "type": "number",
                                    "description": "Identifier for the service level"
                                },
                                "cancelled": {
                                    "type": "boolean",
                                    "description": "Indicates wheather the action was cancelled."
                                },
                                "finished": {
                                    "type": "boolean",
                                    "description": "A boolean indicating whether the action is finished. Read only"
                                },
                                "result": {
                                    "type": "object",
                                    "properties": {},
                                    "description": "An object that is set by the response of the device. Read only"
                                },
                                "created_at": {
                                    "type": "string",
                                    "description": "Datetime at which the Action was created. Read only"
                                },
                                "result_code": {
                                    "type": "string",
                                    "description": "Inidicates if the result send from the device is a success response or an error response. Read only"
                                },
                                "expiry_date": {
                                    "type": "string",
                                    "description": "Datetime at which the Action expires."
                                },
                                "expired": {
                                    "type": "string",
                                    "description": "Inidicates if the action is expired or not. Read only"
                                }
                            }
                        }
                    }
                },
                "summary": "Create an Action",
                "operationId": "Create an Action",
                "description": "Create a new Action instance",
                "tags": [
                    "Actions"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "device": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "The ID of the Device instance. A unique identifier."
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "Name of the device"
                                        }
                                    },
                                    "description": "An object for referencing the device"
                                },
                                "type": {
                                    "type": "string",
                                    "description": "The type of the action that the device shall perform"
                                },
                                "payload": {
                                    "type": "object",
                                    "properties": {
                                        "someData": {
                                            "type": "number",
                                            "description": "Some data that your device processes"
                                        }
                                    },
                                    "description": "A payload that should be sent to the device along with the Action"
                                },
                                "webhooks": {
                                    "type": "array",
                                    "description": "An array of webhooks to which we post updates if the status of the Action instance changes"
                                },
                                "service_level": {
                                    "type": "number",
                                    "description": "An identifier for service level"
                                },
                                "cancelled": {
                                    "type": "boolean",
                                    "description": "Indicates if the action is cancelled"
                                }
                            },
                            "required": [
                                "device",
                                "type"
                            ],
                            "example": {
                                "device": {
                                    "id": "a1b2c3",
                                    "name": "yourdevicename"
                                },
                                "type": "setSettings",
                                "payload": {
                                    "someData": 54
                                },
                                "webhooks": [
                                    {
                                        "status": "action_sent",
                                        "url": "https://mybackend.com/action_sent/"
                                    },
                                    {
                                        "status": "action_overridden",
                                        "url": "https://mybackend.com/action_overridden/"
                                    },
                                    {
                                        "status": "response_received",
                                        "url": "https://mybackend.com/response/"
                                    }
                                ]
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/actions/{id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "url": "https://api.embever.com/v2/actions/62542",
                                "id": 62542,
                                "device": {
                                    "id": "a1b2c3",
                                    "name": "yourdevicename"
                                },
                                "type": "setSettings",
                                "payload": {
                                    "someData": 54
                                },
                                "webhooks": [
                                    {
                                        "status": "action_sent",
                                        "url": "https://mybackend.com/action_sent/"
                                    },
                                    {
                                        "status": "action_overridden",
                                        "url": "https://mybackend.com/action_overridden/"
                                    },
                                    {
                                        "status": "response_received",
                                        "url": "https://mybackend.com/response/"
                                    },
                                    {
                                        "status": "action_delivered",
                                        "url": "https://mybackend.com/action_delivered/"
                                    }
                                ],
                                "status": {
                                    "action_sent": "2018-02-27T16:02:13.978899Z",
                                    "action_overridden": "2018-02-27T16:02:15.978899Z",
                                    "response_received": "2018-02-27T16:02:15.978899Z"
                                },
                                "service_level": 0,
                                "cancelled": false,
                                "finished": true,
                                "result": {},
                                "created_at": "2018-02-26T16:02:13.978899Z",
                                "result_code": "Success",
                                "expiry_date": "2019-03-27T16:02:13Z",
                                "expired": "false"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "url": {
                                    "type": "string",
                                    "description": "URI of the ressource. Read only"
                                },
                                "id": {
                                    "type": "number",
                                    "description": "The unique identifier of the object. Read only"
                                },
                                "device": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "The unique identifier of the object. Read only"
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "A human readable name."
                                        }
                                    },
                                    "description": "Relation to device based on `id` or `name` attribute of the device."
                                },
                                "type": {
                                    "type": "string",
                                    "description": "The type of the action that the device shall perform"
                                },
                                "payload": {
                                    "type": "object",
                                    "properties": {
                                        "someData": {
                                            "type": "number",
                                            "description": "Some data that your device processes"
                                        }
                                    },
                                    "description": "A payload that should be sent to the device along with the Action"
                                },
                                "webhooks": {
                                    "type": "array",
                                    "description": "An array of webhooks to which we post updates if the status of the Action instance changes",
                                    "items": {}
                                },
                                "status": {
                                    "type": "object",
                                    "properties": {
                                        "action_sent": {
                                            "type": "string"
                                        },
                                        "action_overridden": {
                                            "type": "string"
                                        },
                                        "response_received": {
                                            "type": "string"
                                        }
                                    },
                                    "description": "An object containing information about the current and historic status of the action. Read only"
                                },
                                "service_level": {
                                    "type": "number",
                                    "description": "Identifier for the service level"
                                },
                                "cancelled": {
                                    "type": "boolean",
                                    "description": "Indicates wheather the action was cancelled."
                                },
                                "finished": {
                                    "type": "boolean",
                                    "description": "A boolean indicating whether the action is finished. Read only"
                                },
                                "result": {
                                    "type": "object",
                                    "properties": {},
                                    "description": "An object that is set by the response of the device. Read only"
                                },
                                "created_at": {
                                    "type": "string",
                                    "description": "Datetime at which the Action was created. Read only"
                                },
                                "result_code": {
                                    "type": "string",
                                    "description": "Inidicates if the result send from the device is a success response or an error response. Read only"
                                },
                                "expiry_date": {
                                    "type": "string",
                                    "description": "Datetime at which the Action expires."
                                },
                                "expired": {
                                    "type": "string",
                                    "description": "Inidicates if the action is expired or not. Read only"
                                }
                            }
                        }
                    }
                },
                "summary": "Action Detail",
                "operationId": "Action Detail",
                "description": "",
                "tags": [
                    "Actions"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the action",
                        "required": true,
                        "x-example": "62542",
                        "type": "number"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/events/": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": [
                                {
                                    "url": "https://api.embever.com/v2/actions/12",
                                    "id": 12,
                                    "device": "8112635472",
                                    "type": "someEventType",
                                    "payload": {
                                        "someData": 54
                                    },
                                    "created_at": "2018-02-26T16:02:13.978899Z"
                                }
                            ]
                        },
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    }
                },
                "summary": "List all events",
                "operationId": "List all events",
                "description": "Return a list of Event instances",
                "tags": [
                    "Events"
                ],
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "The type of the Event",
                        "required": false,
                        "x-example": "battery",
                        "type": "string"
                    },
                    {
                        "name": "device",
                        "in": "query",
                        "description": "The ID of the device that sent the Event",
                        "required": false,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/events/{id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "url": "https://api.embever.com/v2/actions/12",
                                "id": 12,
                                "device": "8112635472",
                                "type": "someEventType",
                                "payload": {
                                    "someData": 54
                                },
                                "created_at": "2018-02-26T16:02:13.978899Z"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "url": {
                                    "type": "string",
                                    "description": "URI of the ressource. Read only"
                                },
                                "id": {
                                    "type": "number",
                                    "description": "The unique identifier of the object. Read only"
                                },
                                "device": {
                                    "type": "string",
                                    "description": "The ID of the Device instance. A unique identifier."
                                },
                                "type": {
                                    "type": "string",
                                    "description": "The type of the event that was sent from the device"
                                },
                                "payload": {
                                    "type": "object",
                                    "properties": {
                                        "someData": {
                                            "type": "number",
                                            "description": "Some data  from the device"
                                        }
                                    },
                                    "description": "A payload that was sent by the device along with the Event"
                                },
                                "created_at": {
                                    "type": "string",
                                    "description": "Datetime at which the Event was created. read only"
                                }
                            }
                        }
                    }
                },
                "summary": "Event Detail",
                "operationId": "Event Detail",
                "description": "",
                "tags": [
                    "Events"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Event",
                        "required": true,
                        "x-example": "12",
                        "type": "number"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/organisations/": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": [
                                {
                                    "url": "https://api.embever.com/v2/organisations/7a2e64a2-9e85-4a75-9d63-f7060e63e0ce",
                                    "id": "7a2e64a2-9e85-4a75-9d63-f7060e63e0ce",
                                    "name": "Company Inc.",
                                    "street": "Sample-Str.",
                                    "street_number": "16",
                                    "postal_code": 39112,
                                    "city": "Remscheid",
                                    "country": "Germany",
                                    "max_token_lifespan_in_seconds": 300,
                                    "created_at": "2018-02-26T16:02:13.978899Z"
                                }
                            ]
                        },
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    }
                },
                "summary": "List all Organisations",
                "operationId": "List all Organisations",
                "description": "",
                "tags": [
                    "Organisation"
                ],
                "parameters": [],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/organisation/{id}/": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/detail": ""
                        },
                        "schema": {
                            "$ref": "#/definitions/Organisation"
                        }
                    }
                },
                "summary": "Organisation Detail",
                "operationId": "Organisation Detail",
                "description": "",
                "tags": [
                    "Organisation"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique identifier of the organisation",
                        "required": true,
                        "x-example": "7a2e64a2-9e85-4a75-9d63-f7060e63e0ce",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/detail"
                ]
            },
            "patch": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "url": "https://api.embever.com/v2/organisations/7a2e64a2-9e85-4a75-9d63-f7060e63e0ce",
                                "id": "7a2e64a2-9e85-4a75-9d63-f7060e63e0ce",
                                "name": "Company Inc.",
                                "street": "Sample-Str.",
                                "street_number": "16",
                                "postal_code": 39112,
                                "city": "Remscheid",
                                "country": "Germany",
                                "max_token_lifespan_in_seconds": 360,
                                "created_at": "2018-02-26T16:02:13.978899Z",
                                "secret": "updated_secret"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "url": {
                                    "type": "string",
                                    "description": "URI of the instance. Read only."
                                },
                                "id": {
                                    "type": "string",
                                    "description": "The unique identifier of the object. Read only"
                                },
                                "name": {
                                    "type": "string",
                                    "description": "Name of the Organisation"
                                },
                                "street": {
                                    "type": "string",
                                    "description": "Street name of the address."
                                },
                                "street_number": {
                                    "type": "string",
                                    "description": "House number of the organisation."
                                },
                                "postal_code": {
                                    "type": "number",
                                    "description": "ZIP code of the organisations address."
                                },
                                "city": {
                                    "type": "string",
                                    "description": "City name of the address"
                                },
                                "country": {
                                    "type": "string",
                                    "description": "Country of the organisation"
                                },
                                "max_token_lifespan_in_seconds": {
                                    "type": "number",
                                    "description": "Lifespan of the Organisation Token"
                                },
                                "created_at": {
                                    "type": "string",
                                    "description": "Datetime at which the Application has been created. Read only"
                                },
                                "secret": {
                                    "type": "string",
                                    "description": "Secret key used for Symmetric Key Authentication"
                                }
                            }
                        }
                    }
                },
                "summary": "Update Organisation",
                "operationId": "Update Organisation",
                "description": "",
                "tags": [
                    "Organisation"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique identifier of the organisation",
                        "required": true,
                        "x-example": "7a2e64a2-9e85-4a75-9d63-f7060e63e0ce",
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "secret": {
                                    "type": "string",
                                    "description": "Secret key used for Symmetric Key Authentication"
                                },
                                "max_token_lifespan_in_seconds": {
                                    "type": "number",
                                    "description": "Lifespan of the Organisation Token"
                                }
                            },
                            "example": {
                                "secret": "updated_secret",
                                "max_token_lifespan_in_seconds": 360
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/tokens/": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": [
                                {
                                    "url": "https://api.embever.com/tokens/15/",
                                    "id": 15,
                                    "alias": "sometoken",
                                    "activated": true,
                                    "expiry_date": "2018-02-26T16:02:13.978899Z",
                                    "scope": {
                                        "organisation": "7dbeb7f9-2d34-4411-9e34-9c7ae361cb92",
                                        "application": "6dbeb7f9-2d34-4411-9e34-9c7ae361cb92",
                                        "user": 5
                                    },
                                    "created_at": "2018-02-26T16:02:13.978899Z"
                                }
                            ]
                        },
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    }
                },
                "summary": "List Tokens",
                "operationId": "List Tokens",
                "description": "",
                "tags": [
                    "Tokens"
                ],
                "parameters": [],
                "produces": [
                    "application/json"
                ]
            },
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "url": "https://api.embever.com/tokens/15/",
                                "id": 16,
                                "alias": "sometoken",
                                "activated": true,
                                "expiry_date": "2018-02-26T16:02:13.978899Z",
                                "scope": {
                                    "organisation": "7dbeb7f9-2d34-4411-9e34-9c7ae361cb92",
                                    "application": "6dbeb7f9-2d34-4411-9e34-9c7ae361cb92",
                                    "user": 5
                                },
                                "created_at": "2018-01-26T16:02:13.978899Z",
                                "token": "eyJ0eXAiOiJKv2QiLCJhbGciOiJIUzUxMiJ9.eyJhbGlhcyI6Ijhhc2RvdW5hc2QiLCJvcmdhbmlzYXRpb25faWQiOiI3YTJlNjRhMi05ZTg1LTRhNzUtOWQ2My1mNzA2MGU2M2UwY2UifQ.fFfZoEz60FdCDIi_oCKbxnke25jV5lVsB65cQ9eqh3v-xwMKqtTkvRdfa2yuQbLt9QsmIuMp14Gkxp61yThZhg"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "url": {
                                    "type": "string",
                                    "description": "URI of the ressource"
                                },
                                "id": {
                                    "type": "number",
                                    "description": "ID of the token"
                                },
                                "alias": {
                                    "type": "string",
                                    "description": "Alias of the token"
                                },
                                "activated": {
                                    "type": "boolean",
                                    "description": "If set to false, authenticationg with the token will fail"
                                },
                                "expiry_date": {
                                    "type": "string",
                                    "description": "If set, the token will expire on that given datetime"
                                },
                                "scope": {
                                    "type": "object",
                                    "properties": {
                                        "organisation": {
                                            "type": "string",
                                            "description": "Organisation ID"
                                        },
                                        "application": {
                                            "type": "string",
                                            "description": "Application ID"
                                        },
                                        "user": {
                                            "type": "number"
                                        }
                                    },
                                    "description": "Scope of the token. Read only"
                                },
                                "created_at": {
                                    "type": "string",
                                    "description": "Datetime at which the Action was created. Read only"
                                },
                                "token": {
                                    "type": "string",
                                    "description": "Token"
                                }
                            }
                        }
                    }
                },
                "summary": "Create Token",
                "operationId": "Create Token",
                "description": "",
                "tags": [
                    "Tokens"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "alias": {
                                    "type": "string",
                                    "description": "Alias of the token"
                                },
                                "organisation": {
                                    "type": "string",
                                    "description": "ID of an organisation to authenticate with."
                                },
                                "application": {
                                    "type": "string",
                                    "description": "ID of an application to authenticate with."
                                },
                                "expiry_date": {
                                    "type": "string",
                                    "description": "If set, the token will expire on that given datetime"
                                }
                            },
                            "example": {
                                "alias": "sometoken",
                                "organisation": "7dbeb7f9-2d34-4411-9e34-9c7ae361cb92",
                                "application": "6dbeb7f9-2d34-4411-9e34-9c7ae361cb92",
                                "expiry_date": "2018-02-26T16:02:13.978899Z"
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/tokens/{id}/": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "url": "https://api.embever.com/tokens/15/",
                                "id": 15,
                                "alias": "sometoken",
                                "activated": true,
                                "expiry_date": "2018-02-26T16:02:13.978899Z",
                                "scope": {
                                    "organisation": "7dbeb7f9-2d34-4411-9e34-9c7ae361cb92",
                                    "application": "6dbeb7f9-2d34-4411-9e34-9c7ae361cb92",
                                    "user": 5
                                },
                                "created_at": "2018-02-26T16:02:13.978899Z"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "url": {
                                    "type": "string",
                                    "description": "URI of the instance. Read only."
                                },
                                "id": {
                                    "type": "number",
                                    "description": "The unique identifier of the object. Read only"
                                },
                                "alias": {
                                    "type": "string",
                                    "description": "Alias of the token"
                                },
                                "activated": {
                                    "type": "boolean",
                                    "description": "If set to false, authenticationg with the token will fail"
                                },
                                "expiry_date": {
                                    "type": "string",
                                    "description": "If set, the token will expire on that given datetime"
                                },
                                "scope": {
                                    "type": "object",
                                    "properties": {
                                        "organisation": {
                                            "type": "string",
                                            "description": "Organisation ID"
                                        },
                                        "application": {
                                            "type": "string",
                                            "description": "Application ID"
                                        },
                                        "user": {
                                            "type": "number"
                                        }
                                    },
                                    "description": "Scope of the token. Read only"
                                },
                                "created_at": {
                                    "type": "string",
                                    "description": "Datetime at which the Action was created. read only"
                                }
                            }
                        }
                    }
                },
                "summary": "Token Detail",
                "operationId": "Token Detail",
                "description": "",
                "tags": [
                    "Tokens"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the token",
                        "required": true,
                        "x-example": "16",
                        "type": "number"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "Delete Token",
                "operationId": "Delete Token",
                "description": "",
                "tags": [
                    "Tokens"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the token",
                        "required": true,
                        "x-example": "16",
                        "type": "number"
                    }
                ]
            }
        },
        "/firmwares/": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": [
                                {
                                    "url": "https://api.embever.com/v2/firmwares/UBNY6l/",
                                    "id": "UBNY6l",
                                    "version": "1.0",
                                    "alias": "somefw",
                                    "dest": "EBV",
                                    "description": "some description",
                                    "predecessor": "au8auS",
                                    "created_at": "2018-02-26T16:02:13.978899Z"
                                }
                            ]
                        },
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    }
                },
                "summary": "List all Firmwares",
                "operationId": "List all Firmwares",
                "description": "",
                "tags": [
                    "Firmware"
                ],
                "parameters": [],
                "produces": [
                    "application/json"
                ]
            },
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "url": "https://api.embever.com/v2/firmwares/UBNY6l/",
                                "id": "UBNY6l",
                                "version": "1.0",
                                "alias": "somefw",
                                "dest": "EBV",
                                "description": "some description",
                                "predecessor": "au8auS",
                                "created_at": "2018-02-26T16:02:13.978899Z"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "url": {
                                    "type": "string",
                                    "description": "URI of the instance. Read only."
                                },
                                "id": {
                                    "type": "string",
                                    "description": "The unique identifier of the object. Read only"
                                },
                                "version": {
                                    "type": "string",
                                    "description": "Firmware version"
                                },
                                "alias": {
                                    "type": "string",
                                    "description": "Alias of the firmware"
                                },
                                "dest": {
                                    "type": "string",
                                    "description": "Destination of the Firmware. \"EBV\" for Firmware of Embever Micocontroller, \"APP\" for Firmware of Application Microcontroller."
                                },
                                "description": {
                                    "type": "string",
                                    "description": "A description of the firmware"
                                },
                                "predecessor": {
                                    "type": "string",
                                    "description": "ID of a firmware instance. Indicating the predecessor"
                                },
                                "created_at": {
                                    "type": "string",
                                    "description": "Datetime at which the Firmware has been created. Read only"
                                }
                            }
                        }
                    }
                },
                "summary": "Create Firmware",
                "operationId": "Create Firmware",
                "description": ":::warning\nNot implemented yet\n:::",
                "tags": [
                    "Firmware"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "version": {
                                    "type": "string",
                                    "description": "The version of your firmware"
                                },
                                "alias": {
                                    "type": "string",
                                    "description": "Alias of the firmware"
                                },
                                "dest": {
                                    "type": "string",
                                    "description": "Destination of Firmware, \"EBV\" for Embever Microcontroller, \"APP\" for Application Microcontroller."
                                },
                                "description": {
                                    "type": "string",
                                    "description": "A description of the firmware"
                                },
                                "predecessor": {
                                    "type": "string",
                                    "description": "ID of a firmware instance. Indicating the predecessor"
                                }
                            },
                            "required": [
                                "version",
                                "alias",
                                "dest"
                            ],
                            "example": {
                                "version": "1.0",
                                "alias": "somefw",
                                "dest": "\"EBV\"",
                                "description": "some description",
                                "predecessor": "au8auS"
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/firmwares/{id}/": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {},
                        "schema": {
                            "$ref": "#/definitions/Firmware"
                        }
                    }
                },
                "summary": "Firmware Detail",
                "operationId": "Firmware Detail",
                "description": "",
                "tags": [
                    "Firmware"
                ],
                "parameters": [
                    {
[...]
